
.mini{
    padding-top:5px;
    font-size: 18px;
}
.no_margin_left{
    margin-left:0px;
    paddin-left:0px;
}

.no_margin_right{
    padding-right:0px;
    margin-right:0px;
}
.mini-title
{
    font-size: 14px;
    width:200px;

}
.little{
    margin-top:9px;
}
.left{
    float:left;
    margin-bottom:100px;
}
.left-title{
    float:left;
}
.left-search
{
    max-width:100px;
}
.right{
    margin:100px;
}
.up{
}
.down-search{
    margin-top:9px;
}
.down{
    bottom:30px;
    left:30px;
    right:50px;
    position:absolute;
    text-align:center;
}
.cart
{
    margin-bottom:10px;
    bottom:0px;
    position:absolute;
    text-align:center;
    left:30px;
    right: 50px;
}
.long
{
    min-height:300px;
}
.product
{
    float:left;
    margin:33px;
    border-style: solid;
    border-color:#aba8ff;
    border-radius: 6px;
    height: 280px;
}
.user-image{
    max-width:200px;
    max-height:200px

}
.title{
    text-align: center;
    height: 10px;
}
.quantity{

}

.bordered{
    border-style: solid;
}

.hero-avatar{
    max-width:200px;
}

.product-image{
    max-width:400px;
}