
.mini{
    padding-top:5px;
    font-size: 18px;
}
.no_margin_left{
    margin-left:0px;
    paddin-left:0px;
}

.no_margin_right{
    padding-right:0px;
    margin-right:0px;
}
.mini-title
{
    font-size: 14px;
    width:200px;

}
.little{
    margin-top:9px;
}
.left-title{
}
.left-search
{
    max-width:100px;
}
.right{
    margin:100px;
}
.up{
}
.down-search{
    margin-top:9px;
}
.down{
    bottom:30px;
    left:30px;
    right:50px;
    position:absolute;
    text-align:center;
}
.cart
{
    margin-bottom:10px;
    bottom:0px;
    position:absolute;
    text-align:center;
    left:30px;
    right: 50px;
}
.long
{
    min-height:300px;
}
.product
{
    float:left;
    margin:33px;
    border-style: solid;
    border-color:#aba8ff;
    border-radius: 6px;
    height: 280px;
}
.user-image{
    max-width:200px;
    max-height:200px

}
.title{
    text-align: center;
    height: 10px;
}
.quantity{

}

.bordered{
    border-style: solid;
}

.hero-avatar{
    max-width:200px;
    border-radius: 7px;
}

.product-image{
    max-width:400px;
}

.space-up{
    margin-top:50px;
}

.large-list-item{
    min-height:100px;
}

.space-down{
    margin-bottom:50px;
}

.championship-title{
    color:whitesmoke;
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
}

.gray{
    color:whitesmoke;

    background-color: gray;

}

.championship-subtitle{
    color:whitesmoke;
    background-color: gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top:-10px;
    padding-bottom:10px ;
}

.absolute{
    margin-top:-40px;
}
.championship-title:hover{
    cursor: pointer;
}

.hero{
    border-style: ridge;
    border-color: #00b3ee;
    border-radius: 10px;
    width:206px;
    margin-right:20px;
}

.hero-stats {
    border-top:ridge black;
    /*height: 250px;*/
}

.stat-title{
    text-align: center;
}

.stat-value{
    text-align: center;
}

.places{
    border:solid #00b3ee;
    border-radius:10px;
    height:376px;
    margin-right:90px;
}

.update-hero{
    width:100px;
    margin:auto;
    margin-top:30px;
    display:block
}

.high{
    min-height: 900px;
}

.left{
    float:left;
}
a.left.carousel-control{
    max-height:300px;
    margin-left:16px;
    margin-top:231px;
    width:20px;
}

a.right.carousel-control {
    margin-top:231px;
    margin-bottom:19px;
    height:300px;
    margin-right:16px;
    width:20px;

}
.carousel-inner{
    height:346px;
}
.item.active.right{
    height:346px;
    margin:0px;
}
.item{
    margin:0px;
    height:346px;
}

.item.active{
    width:100%;
    display: block;
    margin:auto;
}

.list-down{
    margin-bottom:-10px;
}

.place-avatar{
    max-width:300px;
}

.places-go{
    width:200px;
    margin:30px;
}

.move-right{
    float:right;
    margin-right:20px;
}

.create-button{
    width:200px;
    display:block;
    margin:0 auto;
    margin-top:10px;
}
.place{
    width:100%;
    margin-top: 20px;
    height:100px;
    border:solid #00b3ee;
    border-radius:10px;
}

.go-down{
    margin-bottom:-20px;
}

.go-little-down{
    margin-top:40px;
}

.footer{
    width:100%;
    position: absolute;
    /*bottom:0px;*/
    display: block;
    background-color: lightblue ;
    height:45px;
    margin-top:20px;
}